<footer id="footer">
  <div class="menu">
    <div class="logo-wrapper">
      <a class="logo" href="<% if(lang == 'es'){ %><%= localePath %><% } else { %>/<% } %>">
        <svg width="669" height="669" viewBox="0 0 669 669" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M643 334.5C643 505.441 504.871 644 334.5 644C164.129 644 26 505.441 26 334.5C26 163.559 164.129 25 334.5 25C504.871 25 643 163.559 643 334.5Z" stroke="currentColor" stroke-width="6"/>
          <path d="M664 334.5C664 516.478 516.478 664 334.5 664C152.522 664 5 516.478 5 334.5C5 152.522 152.522 5 334.5 5C516.478 5 664 152.522 664 334.5Z" stroke="currentColor" stroke-width="10"/>
          <path d="M140.984 520.498C142.881 522.461 144.762 523.566 146.627 523.813C148.524 524.029 150.297 523.339 151.949 521.743C153.32 520.418 154.112 518.93 154.324 517.279C154.566 515.659 154.139 513.782 153.041 511.649L150.505 506.779C148.933 503.718 148.322 500.934 148.671 498.427C149.052 495.89 150.301 493.598 152.42 491.55C154.041 489.984 155.807 488.881 157.718 488.239C159.659 487.629 161.696 487.648 163.83 488.298C165.995 488.979 168.191 490.472 170.419 492.778C171.774 494.18 173.003 495.795 174.106 497.622C175.239 499.419 176.186 501.427 176.944 503.646L172.174 505.725C171.383 503.597 170.541 501.79 169.647 500.303C168.814 498.818 167.871 497.53 166.817 496.44C165.1 494.663 163.387 493.638 161.675 493.363C160.025 493.09 158.358 493.766 156.676 495.392C155.46 496.567 154.748 497.888 154.539 499.355C154.361 500.792 154.821 502.608 155.917 504.803L158.454 509.673C161.628 515.765 160.894 521.054 156.251 525.541C153.571 528.13 150.607 529.428 147.358 529.433C144.141 529.409 140.801 527.605 137.338 524.021C135.923 522.557 134.588 520.833 133.335 518.85C132.143 516.868 131.094 514.629 130.187 512.131L134.865 510.05C135.713 512.425 136.614 514.417 137.567 516.027C138.55 517.668 139.689 519.158 140.984 520.498Z" fill="currentColor"/>
          <path d="M212.59 533.622L215.113 528.927L242.767 543.789L240.244 548.484L228.908 542.392L210.507 576.63L205.526 573.953L223.927 539.715L212.59 533.622Z" fill="currentColor"/>
          <path d="M285.517 559.16L291.325 559.859L287.942 587.996C287.518 591.524 287.918 594.365 289.143 596.52C290.411 598.68 292.615 599.949 295.756 600.327C298.94 600.71 301.382 599.999 303.083 598.196C304.783 596.393 305.846 593.727 306.27 590.2L309.653 562.062L315.461 562.761L312.078 590.898C311.463 596.018 309.731 599.89 306.884 602.516C304.042 605.098 300.126 606.09 295.135 605.49C290.101 604.884 286.51 602.99 284.361 599.808C282.261 596.587 281.518 592.417 282.134 587.297L285.517 559.16Z" fill="currentColor"/>
          <path d="M368.353 605.681L358.735 562.54L372.122 559.556C377.07 558.453 381.212 559.106 384.546 561.514C387.87 563.881 390.117 567.687 391.286 572.931L393.394 582.384C394.572 587.671 394.164 592.113 392.169 595.71C390.164 599.265 386.688 601.594 381.739 602.697L368.353 605.681ZM373.155 564.786L365.415 566.512L372.727 599.312L380.467 597.586C387.022 596.125 389.428 591.482 387.684 583.657L385.576 574.204C383.851 566.464 379.71 563.325 373.155 564.786Z" fill="currentColor"/>
          <path d="M452.36 579.436L447.275 581.91L427.939 542.164L433.024 539.69L452.36 579.436Z" fill="currentColor"/>
          <path d="M508.014 509.157L513.734 516.973C516.984 521.414 518.45 525.765 518.132 530.025C517.822 534.225 515.587 537.848 511.426 540.894C507.265 543.939 503.118 544.987 498.986 544.037C494.864 543.027 491.177 540.301 487.927 535.86L482.207 528.044C478.983 523.638 477.525 519.335 477.834 515.135C478.153 510.875 480.393 507.222 484.554 504.176C488.715 501.131 492.857 500.113 496.98 501.124C501.112 502.073 504.79 504.751 508.014 509.157ZM503.294 512.612C500.914 509.36 498.384 507.372 495.706 506.647C493.037 505.862 490.356 506.454 487.664 508.425C485.006 510.37 483.63 512.746 483.537 515.553C483.418 518.325 484.548 521.337 486.928 524.589L492.648 532.405C495.054 535.692 497.608 537.716 500.312 538.475C503.016 539.235 505.697 538.642 508.355 536.697C511.047 534.727 512.423 532.351 512.482 529.569C512.575 526.762 511.419 523.715 509.013 520.428L503.294 512.612Z" fill="currentColor"/>
          <path d="M545.339 295.766L559.338 286.839L552.818 261.876L536.242 260.935L534.094 252.711L605.598 257.392L607.67 265.326L547.614 304.474L545.339 295.766ZM573.373 263.019L561.093 262.299L566.324 282.327L576.684 275.693L595.36 264.097L573.373 263.019Z" fill="currentColor"/>
          <path d="M525.159 183.784L502.418 197.584L497.905 190.146L556.039 154.87L567.089 173.08C570.409 178.551 571.515 183.651 570.407 188.378C569.39 193.128 566.488 196.956 561.7 199.861L558.024 202.091C554.604 204.166 551.157 205.167 547.68 205.093C544.239 205.076 541.038 203.977 538.077 201.796C535.632 206.633 533.025 211.334 530.258 215.898C527.491 220.463 524.592 224.873 521.561 229.13L516.373 220.581C522.153 212.629 527.433 204.239 532.214 195.411L525.159 183.784ZM560.25 177.23L553.713 166.458L531.998 179.634L538.535 190.406C540.299 193.313 542.497 195.137 545.131 195.879C547.821 196.586 550.562 196.092 553.355 194.397L557.031 192.166C559.881 190.437 561.557 188.251 562.058 185.607C562.616 182.929 562.014 180.136 560.25 177.23Z" fill="currentColor"/>
          <path d="M470.096 163.214L463.223 157.88L504.914 104.16L511.787 109.494L470.096 163.214Z" fill="currentColor"/>
          <path d="M394.144 59.7733L400.831 113.847L434.177 70.7093L443.727 73.3181L425.808 138.915L417.608 136.675L425.277 108.603L433.242 83.6192L401.967 124.109L394.057 121.948L388.149 71.0936L382.253 96.8503L374.585 124.922L366.385 122.682L384.305 57.0854L394.144 59.7733Z" fill="currentColor"/>
          <path d="M273.091 126.333L262.376 59.1829L271.363 57.749C278.719 65.3514 285.592 73.0985 291.982 80.9902C298.428 88.8055 304.607 97.0684 310.52 105.779L305.436 80.2612L301.087 53.006L309.48 51.6666L320.195 118.817L311.209 120.251C305.067 111.375 298.802 102.788 292.415 94.4906C286.083 86.1171 279.327 78.0475 272.147 70.2819L277.105 97.5413L281.485 124.994L273.091 126.333Z" fill="currentColor"/>
          <path d="M230.463 142.79L217.019 133.048L196.195 148.279L201.407 164.043L194.546 169.061L172.642 100.834L179.26 95.9928L237.727 137.476L230.463 142.79ZM189.709 128.74L193.549 140.427L210.257 128.207L200.282 121.006L182.638 107.894L189.709 128.74Z" fill="currentColor"/>
          <path d="M138.401 168.831L150.988 176.805C158.14 181.336 162.686 186.742 164.627 193.022C166.546 199.21 165.383 205.655 161.137 212.357C156.892 219.058 151.543 222.891 145.093 223.855C138.621 224.727 131.809 222.898 124.657 218.366L112.071 210.392C104.975 205.897 100.467 200.555 98.5474 194.367C96.6071 188.087 97.7598 181.596 102.006 174.894C106.251 168.193 111.61 164.406 118.081 163.534C124.532 162.57 131.305 164.336 138.401 168.831ZM133.585 176.434C128.347 173.116 123.607 171.691 119.364 172.16C115.101 172.536 111.595 174.893 108.848 179.229C106.136 183.509 105.503 187.685 106.948 191.758C108.337 195.794 111.65 199.471 116.887 202.79L129.474 210.764C134.767 214.117 139.564 215.578 143.863 215.145C148.162 214.712 151.668 212.355 154.379 208.075C157.127 203.739 157.76 199.563 156.279 195.547C154.834 191.475 151.465 187.762 146.171 184.408L133.585 176.434Z" fill="currentColor"/>
          <path d="M123.382 294.319L115.602 291.427C117.483 286.366 117.822 282.295 116.619 279.217C115.439 276.076 112.287 273.553 107.163 271.649L64.4191 255.764L67.4498 247.609L110.194 263.494C114.443 265.073 117.968 267.165 120.769 269.771C123.531 272.291 125.203 275.544 125.784 279.529C126.389 283.452 125.588 288.382 123.382 294.319Z" fill="currentColor"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M334.987 528L328.91 527.848L323.133 527.644C327.054 527.88 331.007 528 334.987 528ZM322.702 527.617V364.056C322.702 361.531 322.205 359.03 321.239 356.697L287.211 274.464C284.863 268.79 276.882 269.905 275.672 275.345V460.122C275.672 463.479 272.951 466.2 269.594 466.2H192.874C225.821 501.44 271.595 524.423 322.702 527.617ZM175.117 444.24C152.985 412.448 140 373.748 140 332C140 223.752 227.299 136 334.987 136C442.675 136 529.974 223.752 529.974 332C529.974 373.913 516.887 412.753 494.595 444.616H423.111C419.978 444.616 417.399 442.246 417.069 439.201V231.214C417.069 227.858 414.348 225.137 410.992 225.137H380.198C377.693 225.137 375.444 226.674 374.535 229.009L340.68 315.939C338.669 321.102 331.364 321.102 329.354 315.939L295.499 229.009C294.589 226.674 292.341 225.137 289.835 225.137H259.042C255.685 225.137 252.964 227.858 252.964 231.214V250.46H252.822V438.163C252.822 441.519 250.101 444.24 246.744 444.24H175.117ZM476.748 466.576H417.069V466.588L417.057 466.576H399.367C396.01 466.576 393.289 463.855 393.289 460.498V276.588C392.635 270.532 384.035 269.098 381.62 275.046L348.449 356.749C347.515 359.049 347.035 361.507 347.035 363.989V527.619L346.608 527.658C397.8 524.633 443.684 501.756 476.748 466.576ZM344.986 527.747H344.103L342.584 527.848H341.065L338.736 527.965C340.827 527.925 342.911 527.852 344.986 527.747Z" fill="currentColor"/>
        </svg>
      </a>
    </div>
    <ul>
      <li>
        <a href="<%= localePath %>/blog"><%= translations.nav.blog %></a>
      </li>
      <li>
        <a href="<%= localePath %>/about"><%= translations.nav.about %></a>
      </li>
      <li>
        <a href="<%= localePath %>/work"><%= translations.nav.work %></a>
      </li>
      <li>
        <a href="<%= localePath %>/contact"><%= translations.nav.contact %></a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="<%= localePath %>/cv"><%= translations.nav.cv %></a>
      </li>
      <li>
        <a href="<%= localePath %>/samurai-route"><%= translations.nav.samurai_route %></a>
      </li>
      <li>
        <a href="https://ko-fi.com/joanmira"><%= translations.nav.buy_coffee %></a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="#">Software Engineering</a>
      </li>
      <li>
        <a href="#">Creative Technology</a>
      </li>
      <li>
        <a href="#">UI UX Design</a>
      </li>
    </ul>
  </div>
  <div class="strip-wrapper">
    <div class="strip">
      <ul>
        <li>&copy <script>document.write(new Date().getFullYear())</script> <%= translations.site_name %></li>
        <li>
          <a href="<%= localePath %>/credits"><%= translations.nav.credits %></a>
        </li>
        <li>
          <a href="<%= localePath %>/privacy"><%= translations.nav.privacy %></a>
        </li>
        <li>
          <a href="<%= localePath %>/rss.xml"><%= translations.nav.rss %></a>
        </li>
      </ul>
      <div class="share-links">
        <a href="https://twitter.com/gazpachu" target="_blank">
          <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" role="img"
            xmlns="http://www.w2.org/2000/svg" viewBox="0 0 512 512">
            <path fill="currentColor"
              d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
            </path>
          </svg>
        </a>
        <a href="https://linkedin.com/in/joanmira" target="_blank">
          <svg class="emotion-mw-bfumn1-SvgElement-sizeVariantCss eoxoukc0" aria-hidden="true" focusable="false"
            data-prefix="fab" data-icon="linkedin-in" role="img" xmlns="http://www.w2.org/2000/svg" viewBox="0 0 448 512">
            <path fill="currentColor"
              d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z">
            </path>
          </svg>
        </a>
        <a href="https://github.com/gazpachu" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve">
            <g>
              <path xmlns="http://www.w3.org/2000/svg" d="m256 0c-140.609375 0-256 115.390625-256 256 0 119.988281 84.195312 228.984375 196 256v-84.695312c-11.078125 2.425781-21.273438 2.496093-32.550781-.828126-15.128907-4.464843-27.421875-14.542968-36.546875-29.910156-5.816406-9.8125-16.125-20.453125-26.878906-19.671875l-2.636719-29.882812c23.253906-1.992188 43.371093 14.167969 55.3125 34.230469 5.304687 8.921874 11.410156 14.152343 19.246093 16.464843 7.574219 2.230469 15.707032 1.160157 25.183594-2.1875 2.378906-18.972656 11.070313-26.074219 17.636719-36.074219v-.015624c-66.679687-9.945313-93.253906-45.320313-103.800781-73.242188-13.976563-37.074219-6.476563-83.390625 18.238281-112.660156.480469-.570313 1.347656-2.0625 1.011719-3.105469-11.332032-34.230469 2.476562-62.546875 2.984375-65.550781 13.078125 3.867187 15.203125-3.890625 56.808593 21.386718l7.191407 4.320313c3.007812 1.792969 2.0625.769531 5.070312.542969 17.371094-4.71875 35.683594-7.324219 53.726563-7.558594 18.179687.234375 36.375 2.839844 54.464844 7.75l2.328124.234375c-.203124-.03125.632813-.148437 2.035157-.984375 51.972656-31.480469 50.105469-21.191406 64.042969-25.722656.503906 3.007812 14.128906 31.785156 2.917968 65.582031-1.511718 4.65625 45.058594 47.300781 19.246094 115.753906-10.546875 27.933594-37.117188 63.308594-103.796875 73.253907v.015624c8.546875 13.027344 18.816406 19.957032 18.761719 46.832032v105.722656c111.808594-27.015625 196-136.011719 196-256 .003906-140.609375-115.386719-256-255.996094-256zm0 0"></path>
            </g>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
<dialog id="modal-consent" class="modal-is-opening">
  <article>
    <header><%= translations.policies.modal_title %></header>
    <p><%= translations.policies.modal_body %></p>
    <footer>
      <button onclick="setConsentModalState(false); initDataCapture();"><%= translations.policies.modal_accept %></button>
      <a href="<%= localePath %>/privacy" role="button" class="secondary"><%= translations.policies.modal_read_more %></a>
    </footer>
  </article>
</dialog>
<dialog id="modal-lang">
  <article>
    <header><%= translations.lang.modal_title %></header>
    <p><%= translations.lang.change_title %></p>
    <footer>
      <a href="<%= alternateUrl %>" role="button"><%= translations.lang.yes %></a>
      <button class="secondary" data-target="modal-lang" onClick="toggleModal(event);"">No</button>
    </footer>
  </article>
</dialog>